@import url(./variable.css);

/* ==================================================
   ABOUT ME
================================================== */

.aboutme {

    background-color: var(--bg-plate-dark); 
    color: var(--text-on-dark);
}

.aboutme-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding: 4rem 2rem; 
}

/* ==================================================
   ANIMAÇÃO
================================================== */

.aboutme-text {
    flex: 1;

    animation: slideInLeft 0.8s ease forwards;
}

/* ==================================================
    TEXTO PRINCIPAL
================================================== */

.aboutme-text h2 {
    font-size: 2rem;
    font-weight: var(--fw-bold);
    line-height: 1.2;
    margin-bottom: 1.5rem;
    color: var(--color-white-pure); 
}

.aboutme-text p {
    font-size: 1.2rem;
    font-weight: var(--fw-light);
    line-height: 1.6;

    color: rgba(250, 250, 250, 0.8); 
    max-width: 90%;
}

/* ==================================================
    TEXTO DESTAQUES
================================================== */

.aboutme-highlight h3 {
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
    line-height: 1.2;
    margin-bottom: 1.5rem;
    color: var(--color-white-pure); 
}

.aboutme-highlight ul li {
    font-size: 1rem;
    font-weight: var(--fw-light);
    line-height: 1.6;
    color: rgba(250, 250, 250, 0.8); 
    max-width: 90%;
}


/* ==================================================
   ANIMAÇÕES
================================================== */

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ==================================================
   RESPONSIVIDADE
================================================== */

@media (max-width: 992px) {
    .aboutme-container {
        flex-direction: column;
        text-align: center;
        gap: 3rem;
        padding: 3rem 2rem;
    }

    .aboutme-text p {
        max-width: 100%;
        margin: 0 auto;
    }

    .aboutme-text h1 {
        font-size: 2.8rem;
    }
}

@media (max-width: 576px) {
    .aboutme-container {
        padding: 2rem 1.5rem;
    }

    .aboutme-text h1 {
        font-size: 2.2rem;
    }

    .aboutme-container > img {
        max-width: 250px;
    }
}