@import url('../variable.css');

/* ==================================================
   HEADER
================================================== */

header {
    background-color: var(--bg-header-footer);
    color: var(--text-on-dark);
    padding: 1.2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

/* ==================================================
    LOGO
================================================== */

header h1 a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

header h1 img {
    height: 45px;
    transition: transform 0.3s ease;
    filter: brightness(0) invert(1); 
}

header h1 img:hover {
    transform: scale(1.05);
}

/* ==================================================
    NAVEGAÇÃO
================================================== */

header nav ul {
    display: flex;
    gap: 2.5rem;
    list-style: none;
}

header nav a {
    color: var(--text-on-dark);
    text-decoration: none;
    font-weight: var(--fw-medium);
    font-size: 1.1rem;
    transition: color 0.3s, opacity 0.3s;
}

header nav a:hover {
    color: var(--color-white-pure);
    opacity: 0.7;
}

/* ==================================================
   RESPONSIVO
================================================== */

/* Temporário */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem;
    }

    header nav ul {
        flex-direction: row;
        gap: 2rem;
    }
}